@use "../global/variables" as *;

:root {
  font-size: 62.5%; // 1rem = 10px
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;

  text-rendering: optimizeSpeed;
  line-height: 1.35;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  // font-family: 'Redressed', cursive;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}
svg {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  resize: vertical;
  overflow: auto;
}

/* Main Container class */
.container {
  width: 100%;
  max-width: 1440px;
  padding: 50px 20px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 676px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 868px) {
  .container {
    max-width: 820px;
  }
}

@media (min-width: 1092px) {
  .container {
    max-width: 1060px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}
