@use "../global/variables" as *;

.title-1 {
  font-size: clamp(3.4rem, 3vw, 5.2rem);
  line-height: 1.2;
}
.title-2 {
  font-size: clamp(2.8rem, 2.5vw, 3.8rem);
}
.title-3 {
  font-size: clamp(2rem, 2.5vw, 3.2rem);
}

.smallText {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
}
.text {
  font-size: 1.6rem;
}
.f-400 {
  font-weight: 400;
}
.f-500 {
  font-weight: 500;
}
.f-700 {
  font-weight: 700;
}
