@use "../global/variables" as *;

.upperTitle {
  font-family: "Redressed", cursive;
  font-size: 2rem;
  color: $mainColor;
  letter-spacing: 0.2rem;
}

.button {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 4rem;
  color: $white;
  background: $mainColor;
}

.bigText {
  font-family: "Redressed", cursive;
  font-size: 22rem;
  font-size: clamp(12rem, 18vw, 22rem);
  color: $secondColor;
  letter-spacing: 0.2rem;
}

.title-1 {
  font-size: clamp(3.2rem, 4vw, 6.2rem);
  font-weight: 400;
}
.title-2 {
  font-size: clamp(2.8rem, 3vw, 4rem);
  font-weight: 400;
}
.title-3 {
  font-size: clamp(2rem, 2.5vw, 3.2rem);
}
.text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
}
