---
import Layout from "../../layouts/Layout.astro";
import Item from "../../components/Item.astro";
---

<script src="../../scripts/ahuAbertura.js"></script>

<Layout>
  <div class="container">
    <h1>Checklist de Abertura - Loja Ahú</h1>
    <p id="timestamp"></p>
  </div>
  <form id="ahuOpen" onsubmit="">
    <div class="container">
      <div class="checklist-container">
        <div class="checklist-title">
          <span>1</span>
          <h2>Primeira Prioridade</h2>
        </div>
        <div class="checklist-body body-1">
          <Item title="Bater ponto" id="1" />
          <Item
            title="Limpar e ligar a vitrine"
            subtitle1="Interior e exterior com pano úmido e vidros com álcool"
            id="2"
          />
          <Item
            title="Gelato & Freezer"
            subtitle1="identificar os sabores da vitrine e se algum gelato precisa ir para geladeira"
            id="3"
          />
        </div>
      </div>
      <div class="checklist-container">
        <div class="checklist-title">
          <span>2</span>
          <h2>Outros</h2>
        </div>
        <div class="checklist-body body-2">
          <Item
            title="Verificar sistema"
            subtitle1="Tablet e maquininha estão carregadas ?"
            subtitle2="Conta do Ifood está logada ?"
            id="4"
          />
          <Item title="Limpeza" subtitle1="Limpeza interna da loja" id="5" />
          <Item
            title="Reposição de Insumos"
            subtitle1="copinhos, pázinhas, guardanapos, etc..."
            subtitle2="bisnagas de molhos, guardanapos dos clientes, embalagens waffle, etc"
            id="6"
          />
          <Item title="Ligar máquina waffle (200º graus)" id="7" />
          <Item title="Abertura do caixa" id="8" />
          <Item title="Parte externa" id="9" />
          <Item title="Reposição da vitrine (-10º graus)" id="10" />
          <Item title="Abertura das portas ( 12:00 )" id="11" />
        </div>
      </div>

      <button class="submit" type="submit">Confirmar Checklist</button>
    </div>
  </form>

  <style lang="scss">
    :root {
      font-size: 62.5%;
    }

    * {
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: border-box;
    }

    *::before,
    *::after {
      box-sizing: inherit;
    }

    html,
    body {
      background: #f9f2e4;

      overflow-x: hidden;

      text-rendering: optimizeSpeed;
      line-height: 1.35;
      font-weight: 400;
      font-family: "Raleway", sans-serif;
    }

    html {
      scroll-behavior: smooth;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-style: none;
    }

    svg {
      vertical-align: middle;
    }

    ol,
    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    b,
    strong {
      font-weight: bolder;
    }

    input,
    button,
    select,
    optgroup,
    textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    textarea {
      resize: vertical;
      overflow: auto;
    }

    /* Main Container class */
    .container {
      width: 100%;
      max-width: 1060px;
      padding: 2rem 2rem;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    @media (min-width: 676px) {
      .container {
        max-width: 640px;
      }
    }

    @media (min-width: 868px) {
      .container {
        max-width: 820px;
      }
    }

    #timestamp {
      font-size: 2rem;
    }
    .submit {
      font-size: 2rem;
      border: 1px solid #a17550;
      padding: 1rem 2rem;
      background: white;
      cursor: pointer;
    }

    .checklist-container {
      min-width: 600px;
      margin-bottom: 2rem;

      .checklist-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;

        span {
          font-size: 3rem;
          background: #a17550;
          border-radius: 100%;
          color: #fff;
          padding: 1rem 2rem;
          margin-right: 2rem;
        }

        h2 {
          font-size: 2.4rem;
        }
      }
      .checklist-body {
        margin-left: 1.5rem;
      }

      .body-1 {
        margin-bottom: 2rem;
      }
    }
  </style>
</Layout>
