@use "../global/variables" as *;

body {
  background: #f9f2e4;
}
.hero {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 300px;
    margin-bottom: 5rem;
  }
  h1 {
    font-size: 6.2rem;
    font-weight: 400;
    text-align: center;
  }
  .novidades {
    font-size: 4.2rem;
    font-weight: 400;
    text-align: center;
  }
  .construction {
    width: 350px;
    margin-bottom: 5rem;
  }
  .addres {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .time {
    font-size: 2.2rem;
    text-align: center;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .instagram {
      margin-right: 2rem;
    }
  }
  @media (max-width: 800px) {
    h1 {
      font-size: 4.2rem;
    }

    .novidades {
      font-size: 2.6rem;
    }
    .addres {
      font-size: 2.2rem;
    }
    .time {
      font-size: 2rem;
    }
  }
}
