.hero {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 40%;
    align-items: flex-start;

    .upperTitle {
      margin-bottom: 1rem;
    }
    .title-1 {
      margin-bottom: 3rem;
    }
    .text {
      margin-bottom: 5rem;
    }
  }
  .right {
    width: 60%;
    align-items: flex-end;
  }
}

.artesanal {
  position: relative;
  .bigText {
    position: absolute;
    bottom: 0;
    right: -7rem;
    bottom: -6rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .left {
    width: 40%;
    align-items: flex-start;

    .img2 {
      margin-left: 170px;
      margin-top: -140px;
    }
  }

  .right {
    width: 60%;
    align-items: flex-start;

    .title-2 {
      margin-bottom: 3rem;
    }
    .text {
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 1092px) {
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
  }
  @media (max-width: 867px) {
    .container {
      flex-direction: column-reverse;
    }
    .left,
    .right {
      width: 100%;
    }
    .right {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 676px) {
    .left {
      .img2 {
        margin-left: 25%;
        padding-right: 25%;
      }
    }
  }

  @media (max-width: 475px) {
    .left {
      .img1 {
        width: 80%;
      }
    }
  }
}

.quality {
  * {
  }
  position: relative;

  .bigText {
    position: absolute;
    bottom: -6rem;
    left: 0;
  }
  .container {
    display: flex;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }

  .left {
    width: 45%;

    .title-2 {
      margin-bottom: 50px;
    }
  }

  .right {
    position: relative;
    width: 55%;
    .playButton {
      position: absolute;
      bottom: 60%;
      left: -4rem;
    }
    .video {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 1092px) {
    .left {
      padding: 2rem;
      margin-right: 2rem;
    }
    .right {
      padding: 2rem;

      .playButton {
        bottom: 70%;
        left: -1.8rem;
      }
    }
  }
  @media (max-width: 897px) {
    .container {
      flex-direction: column;
    }

    .left,
    .right {
      width: 100%;
      padding: 0px;
    }
    .left {
      margin-bottom: 5rem;
    }
    .right {
      flex-direction: column-reverse;

      .playButton {
        bottom: 30%;
        left: -4rem;
      }

      .text {
        margin-bottom: 3rem;
      }
    }
  }
}
