@use "../global/variables" as *;

//===============================================
// Page Vendors
//===============================================
@import "../vendors/glide/glide.core.scss";
@import "../vendors/glide/glide.theme.scss";

.hero {
  position: relative;
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .bigText {
    position: absolute;
    left: -7rem;
    bottom: 12rem;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 40%;
    align-items: flex-start;

    .upperTitle {
      margin-bottom: 1rem;
    }
    .title-1 {
      margin-bottom: 3rem;
    }
    .text {
      margin-bottom: 5rem;
    }
  }
  .right {
    width: 60%;
    align-items: flex-end;
    padding: 1.5rem;

    .imgContainer {
      position: relative;

      .top {
        background: $secondColor;
        width: 75%;
        height: 15px;

        position: absolute;
        top: -1.5em;
        right: -1.5rem;
      }
      .right-p {
        background: $secondColor;
        width: 15px;
        height: 70%;

        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
      }
      .left-p {
        background: $secondColor;
        width: 15px;
        height: 70%;

        position: absolute;
        bottom: 0rem;
        left: -1.5rem;
      }
      .bottom {
        background: $secondColor;
        width: 75%;
        height: 15px;

        position: absolute;
        bottom: -1.5rem;
        left: -1.5rem;
      }
    }
  }

  @media (max-width: 1091px) {
    .bigText {
      bottom: 25rem;
    }
    .left {
      width: 50%;
      margin-right: 3rem;
    }
    .right {
      width: 50%;
    }
  }
  @media (max-width: 867px) {
    .container {
      flex-direction: column;
    }
    .bigText {
      left: 10rem;
      bottom: -20rem;
    }
    .left,
    .right {
      width: 100%;
    }
    .left {
      margin-right: 0;
      margin-bottom: 3rem;
    }
    .right {
      justify-content: center;
      align-items: center;
    }
  }
}

.artesanal {
  position: relative;
  .bigText {
    position: absolute;
    bottom: 0;
    right: -7rem;
    bottom: -6rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .left {
    width: 40%;
    align-items: flex-start;

    .img2 {
      margin-left: 170px;
      margin-top: -140px;
    }
  }

  .right {
    width: 60%;
    align-items: flex-start;

    .title-2 {
      margin-bottom: 3rem;
    }
    .text {
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 1092px) {
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
  }
  @media (max-width: 867px) {
    .container {
      flex-direction: column-reverse;
    }
    .left,
    .right {
      width: 100%;
    }
    .right {
      margin-bottom: 50px;
    }
  }
  @media (max-width: 676px) {
    .left {
      .img2 {
        margin-left: 25%;
        padding-right: 25%;
      }
    }
  }

  @media (max-width: 475px) {
    .left {
      .img1 {
        width: 80%;
      }
    }
  }
}

.quality {
  position: relative;
  .bigText {
    position: absolute;
    bottom: -5rem;
    left: -5rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas:
      "grid-1 grid-2"
      "grid-1 grid-3";
  }

  .grid-1,
  .grid-2,
  .grid-3 {
    z-index: 1;
  }

  .grid-1 {
    grid-area: grid-1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .title-2 {
      margin-bottom: 4rem;
    }
  }

  .grid-2 {
    grid-area: grid-2;

    position: relative;
    margin-bottom: 5rem;

    .playButton {
      position: absolute;
      bottom: 40%;
      left: -7%;
    }
  }

  .grid-3 {
    grid-area: grid-3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .text {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 1300px) {
    .container {
      grid-template-columns: 1fr 1.1fr;
    }
  }
  @media (max-width: 1091px) {
    .container {
      grid-template-columns: 1fr 1.2fr;
    }

    .grid-1 {
      margin-right: 5rem;
    }
  }

  @media (max-width: 867px) {
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "grid-1 grid-3"
        "grid-2 grid-2";
    }

    .grid-1 {
      margin-right: 3rem;
      margin-bottom: 3rem;
    }
    .grid-2 {
      margin-bottom: 0;
    }
    .grid-3 {
      justify-content: center;
    }
  }

  @media (max-width: 675px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 0.2fr);
      grid-template-areas:
        "grid-1"
        "grid-3"
        "grid-2";
    }

    .grid-1 {
      margin-right: 0;
      margin-bottom: 0;
      .img {
        display: none;
      }
    }
    .grid-2 {
      padding: 2rem;

      .playButton {
        position: absolute;
        bottom: 40%;
        left: -3%;
      }
    }
  }
}

.gelato {
  position: relative;
  margin-bottom: 40px;

  .bigText {
    position: absolute;
    bottom: -5rem;
    right: -3rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left {
    z-index: 1;
    width: 45%;
    margin-right: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box {
      border: 1px solid $mainColor;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 12rem;
      margin-bottom: 8rem;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        position: absolute;
        top: -3.5rem;
      }
      h3 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }
  .right {
    z-index: 1;
    width: 55%;

    .title-2 {
      margin-bottom: 2rem;
    }
    .title-3 {
      margin-bottom: 1rem;
    }
    .mg {
      margin-bottom: 3.5rem;
    }
    .md {
      margin-bottom: 8rem;
    }
  }

  @media (max-width: 1091px) {
    .left {
      .box {
        h3 {
          text-align: center;
        }
      }
    }
  }

  @media (max-width: 867px) {
    .bigText {
      bottom: 0rem;
    }
    .container {
      flex-direction: column-reverse;
    }

    .left,
    .right {
      width: 100%;
    }
    .left {
      margin-right: 0;
      display: none;

      .box {
        height: auto;
        padding: 5rem 4rem;
      }
    }
  }
}

.reviews {
  margin-bottom: 10rem;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro {
    position: relative;
    margin-bottom: 3rem;
    text-align: center;

    .bigText {
      position: absolute;
      bottom: -50rem;
      left: -100%;
      right: 100%;
    }
  }

  .glide {
    .glide__slides {
      padding: 1rem 1rem;
    }

    .glide__arrows {
      .glide__arrow--left {
        bottom: -10rem;
        left: 40%;
        top: auto;
        background: white;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
      }
      .glide__arrow--right {
        bottom: -10rem;
        right: 40%;
        top: auto;
        background: white;
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;

        img {
          transform: rotate(180deg);
        }
      }
    }

    .slide {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding: 6rem 7rem;
      width: 97%;

      //border: 2px solid $secondColor;
      box-shadow: 2px 6px 20px -6px rgba(0, 0, 0, 0.35);
      background: white;
      z-index: 1;

      .quotes {
        position: absolute;
        right: 2rem;
        top: 3rem;
      }
      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.6rem;
      }
      .userAvatar {
        margin-right: 1.6rem;
      }
      .userName {
        font-size: 2.2rem;
        font-weight: 400;
      }
    }
  }

  @media (max-width: 868px) {
    .glide {
      .glide__arrows {
        .glide__arrow--left {
          left: 35%;
        }
        .glide__arrow--right {
          right: 35%;
        }
      }
    }
    .intro {
      .bigText {
        bottom: -43rem;
      }
    }
  }

  @media (max-width: 676px) {
    .glide {
      .glide__arrows {
        .glide__arrow--left {
          left: 25%;
        }
        .glide__arrow--right {
          right: 25%;
        }
      }

      .slide {
        width: 95%;
        padding: 6rem 4rem;
      }
    }
    .intro {
      .bigText {
        bottom: -43rem;
        left: -70%;
        right: 100%;
      }
    }
  }

  @media (max-width: 490px) {
    .intro {
      .bigText {
        bottom: -48rem;
        left: -50%;
        right: 100%;
      }
    }
  }
}
