---
import BaseHead from '../layout/BaseHead.astro'
import BaseBody from '../layout/BaseBody.astro'

import '../styles/pages/index.scss' // Page Style

const title = "Carmella Gelateria"
const description = "Dashboard"
const url = "https://www.carmellagelateria.com.br/"
---

<script src="../scripts/google.js"></script>


<html lang="pt-BR">
<BaseHead title={title} description={description} url={url} />
<BaseBody>

  <form method="POST"
    action="https://script.google.com/macros/s/AKfycbw0soRl6knbHyNX_dPdoXWtQ3kTNJNEmcctgVFdFfqJabDeT9pPdslCri9nkdTu6ol4/exec">
    <input name="Email" type="email" placeholder="Email" required>
    <input name="Nome" type="text" placeholder="Nome" required>
    <button type="submit">Send</button>
  </form>


</BaseBody>



</html>