---
    import BaseHead from '../layout/BaseHead.astro'
    import BaseBody from '../layout/BaseBody.astro'

    import '../styles/pages/index.scss' // Page Style

    const title = "Carmella Gelateria"
    const description = "Melhor gelateria de Curitiba. Venha experimentar!"
    const url = "https://www.carmellagelateria.com.br/"
---

<html lang="pt-BR">
<BaseHead title={title} description={description}  url={url} />
<BaseBody>
<section class="hero">
    <div class="container">
        <img class="logo" src="/images/logo-carmella.svg" alt="">
        <h1 class="title">Carmella Gelateria <br /> Venha experimentar a melhor gelateria de Curitiba!</h1>
        <div class="box">
            <div class="address">
                <img src="/images/maps.svg" alt="">
                <span>Rua Colombo 183, Ahú <br />Curitiba/PR</span>
            </div>
            <div class="time">
                <img src="/images/horario.svg" alt="">
                <span>Terça à Domingo <br />12:00 às 18:00</span>
            </div>
        </div>
        <p class="text">Siga a gente nas redes sociais</p>
        <div class="instagram">
            <img src="/images/instagram.svg" alt="">
            <a href="https://www.instagram.com/carmellagelateria/"><span>@carmellagelateria</span></a>      
        </div>
        <div id="pixlee_container"></div>
       

    </div>
</section>

<script type="text/javascript">

window.PixleeAsyncInit = function() {Pixlee.init({apiKey:'WGQf24mZt07d9FFvAXsL'});Pixlee.addSimpleWidget({widgetId:'34742'});};

</script>

<script src="//instafeed.assets.pxlecdn.com/assets/pixlee_widget_1_0_0.js"></script>



</BaseBody>
</html>