---
import BaseHead from '../layout/BaseHead.astro'
import BaseBody from '../layout/BaseBody.astro'

import '../styles/pages/index.scss' // Page Style



const title = "Carmella Gelateria Artigianale"
const description = `Lorem ipsum dolor sit amet consectetur, adipisicing elit. A incidunt reiciendis vitae nam quis.
facilis velit fugiat ipsa nemo recusandae, ducimus, repellendus amet laboriosam reprehenderit. Omnis, ab.`
const url = "https://www.carmellagelateria.com.br/"
---


<html lang="pt-BR">
<BaseHead title={title} description={description} url={url} />
<BaseBody>

  <section class="hero">
    <div class="container">

      <div class="left">
        <span class="upperTitle">Qualidade Indiscutível</span>
        <h1 class="title-1">O Melhor Gelato da Cidade.</h1>
        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown</p>
        <a class="button" href="#">Explorar</a>
      </div>

      <div class="right">
        <img src="/assets/heroPlaceHolder.jpg" alt="">
      </div>

    </div>
  </section>

  <section class="artesanal">
    <span class="bigText">Artesanal</span>
    <div class="container">

      <div class="left">
        <img class='img1' src="/assets/artesanalPlaceHolder1.jpg" alt="">
        <img class="img2" src="/assets/artesanalPlaceHolder2.png" alt="">
      </div>

      <div class="right">
        <span class="upperTitle">Nossos Produtos</span>
        <h2 class="title-2">Produção Artesanal</h2>
        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, </p>
        <a href="#" class="button">Saiba Mais</a>

      </div>

    </div>
  </section>

  <section class="quality">
    <span class="bigText">Qualidade</span>
    <div class="container">

      <div class="grid-1">
        <span class="upperTitle">Qualidade Indiscutível</span>
        <h2 class="title-2">Gelato de Verdade</h2>
        <img class="img" src="/assets/qualityPlaceHolder.jpg" alt="">
      </div>

      <div class="grid-2">
        <img class="playButton" src="/assets/playButton.svg" alt="">
        <img class="video" src="/assets/qualityPlaceHolderVideo.jpg" alt="">
      </div>

      <div class="grid-3">
        <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
      </div>

    </div>
  </section>

  <section class="franchisee">
    <span class="bigText">Licenciado</span>
    <div class="container">
      <div class="left">
        <div class="box">
          <img src="/assets/icon-growth.svg" alt="">
          <h3>Até R$ 600 mil de faturamento bruto anual</h3>
        </div>
        <div class="box">
          <img src="/assets/icon-money.svg" alt="">
          <h3>+ de 20% de Margem de Lucro</h3>
        </div>
        <div class="box">
          <img src="/assets/icon-clock.svg" alt="">
          <h3>45 dias de Implantação</h3>
        </div>
      </div>

      <div class="right">
        <span class="upperTitle">Faça parte</span>
        <h2 class="title-2">Seja um Licenciado</h2>

        <h3 class="title-3">Vantagens do Mercado</h3>
        <p class="text mg">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown</p>

        <h3 class="title-3">Modelo de Negócio</h3>
        <p class="text md">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknownLorem Ipsum is simply dummy text
          of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
          the 1500s, when an unknown</p>
        <a href="#" class="button">Seja um Licenciado</a>
      </div>
    </div>
  </section>

  <section class="reviews">
    <div class="container">
      <div class="intro">
        <span class="upperTitle">O que dizem sobre nós</span>
        <h2 class="title-2">Nossos Clientes</h2>
        <span class="bigText">Avaliações</span>
      </div>


      <div class="glide">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">

            <li class="glide__slide">
              <div class="slide">
                <img src="/assets/quotes.svg" alt="" class="quotes">
                <div class="header">
                  <img src="/assets/user-avatar.jpg" alt="" class="userAvatar">
                  <span class="userName">John Doe</span>
                </div>
                <p class="text userReview">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                  ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
              </div>
            </li>


            <li class="glide__slide">
              <div class="slide">
                <img src="/assets/quotes.svg" alt="" class="quotes">
                <div class="header">
                  <img src="/assets/user-avatar.jpg" alt="" class="userAvatar">
                  <span class="userName">John Doe</span>
                </div>
                <p class="text userReview">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                  ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
              </div>
            </li>



          </ul>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><img src="/assets/arrow.svg"
              alt=""></button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><img src="/assets/arrow.svg"
              alt=""></button>
        </div>
      </div>
    </div>
  </section>




  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  

  <script>

    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      perView: 2,
      autoplay: false,
      hoverpause: true,
      animationDuration: 750,
      gap: 30,
      breakpoints: {
        1092: {
          perView: 2,
        },
        867: {
          perView: 1,
        }
      }


    }).mount()
  </script>

</BaseBody>

</html>