---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<script src="../scripts/index.js"></script>
	<main>
		<h2>Olá <span id="funcionario_nome"></span></h2>
		<form id="form" action="">
			<label for="">ID Pessoal</label>
			<input type="password" name="personal_id" id="personal_id">

			<button type="submit">Enviar</button>
		</form>
	</main>
</Layout>

<style>

</style>