---
import BaseHead from '../layout/BaseHead.astro'
import BaseBody from '../layout/BaseBody.astro'

import '../styles/pages/index.scss' // Page Style

const title = "Carmella Gelateria"
const description = "Melhor gelateria de Curitiba. Venha experimentar!"
const url = "https://www.carmellagelateria.com.br/"
---


<html lang="pt-BR">
<BaseHead title={title} description={description} url={url} />
<BaseBody>

  <body>


    <header class="header container">
      <img class="logo" src="images/logo.svg" alt="">
      <h1 class="title">@carmellagelateria</h1>
    </header>
    <main class="container">
      <h2 class="sub-title">Confira os Sabores do dia das seguintes lojas</h2>
      <a class="link" href="/lojas/ahu">Loja Ahú </a>
      <a class="link" href="/lojas/altoxv">Loja Alto da XV </a>


    </main>

    <footer class="footer">
      <a href="https://wa.me/+554195011324">
        <img class="icon" src="/images/whatsapp.svg" alt="">
      </a>
      <a href="https://www.instagram.com/carmellagelateria/">
        <img class="icon" src="/images/instagram.svg" alt="">
      </a>
      <a href="https://www.facebook.com/carmellagelateria/">
        <img class="icon" src="/images/facebook.svg" alt="">
      </a>

    </footer>

  </body>


</BaseBody>

</html>