---
import BaseHead from '../layout/BaseHead.astro'
import BaseBody from '../layout/BaseBody.astro'

import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Flavors from '../components/Flavors.astro'
import Stores from '../components/Stores.astro'
import Events from '../components/Events.astro'
import Footer from '../components/Footer.astro'

// Base styles for the page (if any are left that aren't scoped to components)
import '../styles/pages/index.scss'

const title = "Carmella Gelateria Artigianale"
const description = `O autêntico Gelato Italiano na sua cidade.`
const url = "https://www.carmellagelateria.com.br/"
---

<html lang="pt-BR">
  <BaseHead title={title} description={description} url={url} />
  <BaseBody>
    
    <Header />
    
    <main>
      <Hero />
      <About />
      <Flavors />
      <Stores />
      <Events />
    </main>

    <Footer />

  </BaseBody>
</html>