---
import BaseHead from '../layout/BaseHead.astro'
import BaseBody from '../layout/BaseBody.astro'

import '../styles/pages/index.scss' // Page Style



const title = "Carmella Gelateria Artigianale"
const description = `O melhor Gelato da cidade !`
const url = "https://www.carmellagelateria.com.br/"
---


<html lang="pt-BR">
<BaseHead title={title} description={description} url={url} />
<BaseBody>

  <section class="hero">

  </section>



</BaseBody>

</html>