---
---
<header class="header">
  <div class="container header__inner">
    <div class="header__logo">
      <a href="/">Carmella</a>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#sabores">Produtos</a></li>
        <li><a href="#lojas">Lojas</a></li>
        <li><a href="#eventos">Eventos</a></li>
      </ul>
    </nav>
    <div class="header__cta">
      <a href="https://sabores.carmellagelateria.com.br/" class="button button--small">Delivery</a>
    </div>
  </div>
</header>

<style lang="scss">
  @use "../styles/global/variables" as *;

  .header {
    background-color: $white;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__logo a {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      color: $mainColor;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    &__nav ul {
      display: flex;
      gap: 3rem;
      
      li a {
        font-size: 1.4rem;
        font-weight: 600;
        color: $textColor;
        text-transform: uppercase;
        transition: color 0.3s;

        &:hover {
          color: $mainColor;
        }
      }
    }

    @media (max-width: 868px) {
      &__nav {
        display: none;
      }
    }
  }

  .button--small {
    padding: 1rem 2.5rem;
    font-size: 1.4rem;
    border-radius: 4px;
    background-color: $mainColor;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.3s;
    display: inline-block;

    &:hover {
      background-color: #8c6444; /* Darker mainColor */
    }
  }
</style>