---
import '../styles/pages/header.scss' // Page Style

---

<header class="header">
  <div class="container">
    <nav class="nav">
      <ul>
        <img class="logo" src="/assets/logo-carmella.svg" alt="">
        <div class="menu">
          <li class="menuItem"><a href="">Home</a></li>
          <li class="menuItem"><a href="">Sobre Nós</a></li>
          <li class="menuItem"><a href="">Seja um Licenciado</a></li>
          <li class="menuItem"><a href="">Nosssas Lojas</a></li>
          <li class="menuItem"><a href="">Contato</a></li>
        </div>
        <div class="hamburger">
          <div class="line-1"></div>
          <div class="line-2"></div>
          <div class="line-3"></div>
        </div>
        <div class="login">
          <a href="#">
            <span>Entrar</span>
          </a>
        </div>
      </ul>
    </nav>
  </div>
</header>


<style lang="scss">
  @use "../styles/global/variables"as *;
</style>