<header class="header">
  <nav class="nav">
    <ul>
      <li class="menuItem"><a href="">Home</a></li>
      <li class="menuItem"><a href="">Sobre Nós</a></li>
      <li class="menuItem"><a href="">Seja um Licenciado</a></li>
      <img class="logo" src="/assets/logo-carmella.svg" alt="">
      <li class="menuItem"><a href="">Nosssas Lojas</a></li>
      <li class="menuItem"><a href="">Contato</a></li>
      <li class="menuItem"><a href="">Área do Licenciado</a></li>
    </ul>
  </nav>
</header>


<style lang="scss">
  @use "../styles/global/variables"as *;

  .header {
    width: 100vw;
    max-width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    .nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;

        .menuItem {
          font-size: 1.6rem;
          margin: 0 30px;

          a {
            text-decoration: none;
            color: $black;
            transition: 250ms ease-in-out;

            &:hover {
              color: $mainColor;
              transition: 250ms ease-in-out;
            }
          }
        }

        .logo {
          margin: 0 45px;
        }
      }
    }
  }
</style>