@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
h1 {
  font-size: 2.6rem;
}
h2 {
  font-weight: 400;
}
.checklistContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 75px;
}
.unitContainer {
  width: 100%;
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 868px) {
  .unitContainer {
    flex-direction: column-reverse;
  }
  .unitLogo {
    margin-bottom: 30px;
  }
  h1,
  h2 {
    text-align: center;
  }
}
.star {
  position: absolute;
  top: -10px;
  left: 100%;
}
.star img {
  width: 25px;
}

.warningContainer {
  width: 100%;
  padding: 20px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.warningText {
  font-size: 1.6rem;
  border: 1px dashed #a17550;
  padding: 8px 12px;
  margin-top: 10px;
  position: relative;
}
.warningIcon {
  font-size: 2rem;
  color: #a17550;
  position: absolute;
  top: -15px;
  left: -10px;
}

.timeComplete {
  font-size: 2rem;
  text-align: center;
}
.checklistFormContainer {
  margin-top: 30px;
  padding: 0px 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.checkbox-wrapper {
  margin-bottom: 2rem;
}
.label-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  border: 1px dashed black;
  padding: 9px;
}
.label {
  font-size: 20px;
}

.inputNumber {
  width: 75px;
  margin-left: 10px;
}
.subtitle {
  font-size: 18px;
}
