@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


.container {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 75px;
}

.produtos {
  border: 1px solid black;

}

.title {
  margin: 0;
  color: #5a432c;
  border: none;
  font-size: 20px;
  margin-top: 50px;
}

.categoria {
  font-size: 18px;
  color: #784e21;
  border: none;
  margin: 0;
}

.produto{
  font-size: 16px;
  color: #784e21;
}