---
import '../styles/global/main.scss' // Global Styles (Import on all Pages)

export interface Props {
title: string;
description: string;
url: string;
}
const {title, description, url} = Astro.props;
---
<!-- Meta Tags Gerais -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Henrique Nocera" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <link rel="shortcut icon" href="/favicon.ico" />


    <!-- Meta Image (Facebook)  -->
    <meta property="og:image" content="https://www.axioscorp.com.br/images/facebook-meta-img.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <!-- Meta Image (Whatsapp) -->
    <meta property="og:image" content="https://www.axioscorp.com.br/images/whats-meta-img.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />

    <!--  Meta Tags Específicas da Página -->
    <meta property="og:url" content={url} />
    <meta name="title" property="og:title" content={title} />
    <meta name="description" property="og:description" content={description} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">


    <!-- Required Core stylesheet -->
    <link rel="stylesheet" href="/node_modules/@glidejs/glide/dist/css/glide.core.min.css">

    <!-- Optional Theme Stylesheet -->
    <link rel="stylesheet" href="/node_modules/@glidejs/glide/dist/css/glide.theme.min.css">

    <title>{title}</title>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T3T8BNR');</script>
    <!-- End Google Tag Manager -->
</head>