---

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

---

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T3T8BNR" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <Header />
  <slot />
  <Footer />
</body>